<div class="center jumbotron">
<h1>You are welcome</h1>
<h2>Домашная страница доставлена</h2>

<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
<br>
<%= link_to image_tag("girl.jpg", alt: "girl"), 
							'http://2ch.hk/to' %>



</div>